#home-container {
  height: 100vh;
}

svg {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
}

h1 {
  position: absolute;
  top: 10vh;
  left: 2.5%
}

h1 .prenom {
  margin: 3vw 0 -3vw;
}

h1 span {
  font: 500 normal 16vw/.95 "HelveticaNowDisplay";
  letter-spacing: -0.77vw;
  display: inline-block;
  padding: 0 0 3vw;
}

.op-violet {
  color: #d515a0;
}

.op-jaune {
  color: #F7DF1E;
}

h2 {
  font: 500 normal 3vw/.95 "HelveticaNowDisplay";
  letter-spacing: -0.10vw;
}

.tw {
  position: absolute;
  top: 80vh;
  left: 40%;
}
