<section id="home-container">
  <h1>
    <div class="prenom">
      <span>J</span>
      <span>e</span>
      <span>a</span>
      <span>n</span>
      <span>-</span>
      <span>B</span>
      <span>a</span>
      <span>p</span>
      <span>t</span>
      <span>i</span>
      <span>s</span>
      <span>t</span>
      <span>e</span>
    </div>
    <div class="nom">
      <span>P</span>
      <span>o</span>
      <span>u</span>
      <span>j</span>
      <span>o</span>
      <span>l</span>
    </div>
  </h1>

</section>
