<footer class="d-flex navbar navbar-expand-lg navbar-dark h-100">
  <div class="col-10">
    <ul class="navbar-nav navbar-dark px-3">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/home">
          <img src="assets/img/logo_jbp.png" alt="Logo de JBP" id="logoJB" />
        </a>
      </li>
      <li class="nav-item"><a class="nav-link mx-1" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a class="nav-link ms-2" routerLink="/about" routerLinkActive="active">About</a></li>
      <li class="nav-item"><a class="nav-link ms-2" routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li class="nav-item">
        <a class="nav-link ms-2" routerLink="/experience" routerLinkActive="active">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
  <div class="col-2">
    <ul class="navbar-nav px-3 d-flex justify-content-end h-100">
      <li class="nav-item col-6 col-md-auto">
        <a class="nav-link p-2" href="https://github.com/jbpoujol" target="_blank" rel="noreferrer noopener">
          <fa-icon [icon]="faGithub" size="sm"></fa-icon>
        </a>
      </li>
      <li class="nav-item col-md-auto">
        <a class="nav-link p-2" href="https://www.linkedin.com/in/jbpoujol/" target="_blank" rel="noreferrer noopener">
          <fa-icon [icon]="faLinkedIn" size="sm"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</footer>
