.menu-wrap {
  position: fixed;
  top: 0;
  right: 80px;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .ham {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Show Menu */
.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate.active~.menu {
  visibility: visible;
}

.hamRotate.active~.menu>div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.hamRotate.active~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu>div {
  background-color: #181818;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.6s ease;
}

.menu-item:hover {
  color: #019e86 !important;
  transition: 0.6s ease;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 1s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line {
  fill: none;
  transition: stroke-dasharray 1s, stroke-dashoffset 1s;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;  
  transition: 0.6s ease
}

.ham .top {
  stroke-dasharray: 40 121;
}

.ham .bottom {
  stroke-dasharray: 40 121;
}

.ham.active .top {
  stroke-dashoffset: -68px;
}

.ham.active .bottom {
  stroke-dashoffset: -68px;
}

.ham.active .line {
  transition: 0.6s ease;
  stroke: #fff;
}
.ham:hover .line{
  stroke: #019e86;
  transition: 0.6s ease
}